<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>

    <ul>
      <li><a href="/"> home </a></li>
      <li><a href="show"> show </a></li>
    </ul>
  </header>
  <form action="/" method="post">
    <table border="1">
      <tr>
        <td><label for="name">name</label></td>
        <td><input type="text" name="name" placeholder="name"></td>
      </tr>
      <tr>
        <td><label for="name">email</label></td>
        <td><input type="email" name="email" placeholder="email"></td>
      </tr>
      <tr>
        <td align="center" colspan="2"><input type="submit"></td>
      </tr>
    </table>
  </form>
  
</body>
</html>
  


